<!DOCTYPE html>
<html>
	<!DOCTYPE html>
	<html>
		<head>
			<%- include('../partials/head') %>
		</head>
		<body>
			<%- include('../partials/header')%>
			<div class="container">
			<h1>Login</h1>
		<main>
			<form action="/sessions" method="POST">
				<input type="text" name="username" placeholder="Username"/>
				<input type="text" name="password" placeholder="Password"/>
				<input type="submit" value="Login"/>
			</form>
		</main>
		</div>
	</body>
</html>
